/*** TVP recommendations page ***/

.tvp-recommendations-container {
	max-width: 800px;
    margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
    /*background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;*/
}
.tvp-recommendations-container .main-title {
    font-size: 3.2rem;
    color: #1f3444;
    text-align: center;
    margin-bottom: 40px;
    border-bottom: 2px solid #1f3444;
    padding-bottom: 10px;
}
.tvp-recommendations-container .recommendation-section {
    margin-bottom: 40px;
}
.tvp-recommendations-container .section-title {
    font-size: 2.4rem;
    color: #1f3444;
    margin-bottom: 20px;
    border-left: 4px solid #b3af54;
    padding-left: 10px;
}
.tvp-recommendations-container .section-content {
    font-size: 1.6rem;
    line-height: 1.6;
    color: #515151;
}
.tvp-recommendations-container .book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 0;
}
.tvp-recommendations-container div.book-entry {
    width: 100%;
    max-width: 600px;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.tvp-recommendations-container .author-info {
    margin-bottom: 1em;
}
.tvp-recommendations-container img.author-image {
    width: 150px!important;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
		padding: 0;
}
.tvp-recommendations-container .author-name {
    margin-top: 0.5em;
    font-size: 1.8rem;
    color: #1f3444;
}
.tvp-recommendations-container .book-info {
    width: 100%;
}
.tvp-recommendations-container h3.book-title {
    margin-bottom: 0.5em;
    margin-top: 1em;
    font-size: 2rem;
    color: #515151;
    line-height: 1.3;
}
.tvp-recommendations-container p.publication-year {
    font-style: italic;
    color: #767676;
		margin-top: 0;
}
@media (min-width: 768px) {
		
    .tvp-recommendations-container div.book-entry {
        flex-direction: row;
        text-align: left;
    }
		
    .tvp-recommendations-container .author-info {
        margin-right: 2em;
        margin-bottom: 0;
    }
		
		/* Force limit the width since for some reason on the Github demo the book title breaks into multiple lines whereas on TVP site it makes the author image size smaller */
		.tvp-recommendations-container .book-info {
		max-width: 420px;
}
}

@media (max-width: 768px) {
		
    .tvp-recommendations-container .recommendations-container {
        padding: 20px;
    }
		
    .tvp-recommendations-container .main-title {
        font-size: 2.8rem;
    }

    .tvp-recommendations-container .section-title {
        font-size: 2rem;
    }

    .tvp-recommendations-container .section-content {
        font-size: 1.4rem;
    }

    .tvp-recommendations-container .author-section {
        width: 100%;
        max-width: 600px;
    }

    .tvp-recommendations-container .books-info {
        width: 100%;
    }

    .tvp-recommendations-container .books-info .book-info {
        margin-bottom: 2.5em;
        padding-bottom: 2.5em;
        border-bottom: 1px solid #e9e6ed;
    }

    .tvp-recommendations-container .books-info .book-info:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    }

    .tvp-recommendations-container .author-section .author-info {
        flex-shrink: 0;
    }

    .tvp-recommendations-container .books-info {
        flex-grow: 1;
    }
}
